body {
    font-family: 'Roboto', sans-serif;
    background-color: red;
}

#description {
    width: 900px;
}

.container {
    display: grid;
    justify-content: center;
    text-align: center;
}

textarea {
    display: block;
    margin: auto;
    border: none;
    border-radius: 20px;
    padding: 10px;
    width: 300px;
    height: 90px;
}

#textarea-label {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
}

select {
    width: 165px;
    border: none;
    border-radius: 20px;
    padding: 10px;
}

#submit {
    margin: 1em auto;
}

input {
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 20px;
}

input[type="checkbox"],
input[type="radio"] {
    margin: 5px;
    min-height: 1.25rem;
    min-width: 1.25rem;
}

#fav-phase,
#fav-avenger {
    margin-top: 2em;
    margin-bottom: 5px;
}

button {
    border: none;
    padding: 10px 40px;
    border-radius: 20px;
    font-size: 18px;
    background-color: yellow;
    cursor: pointer;
}

button:hover {
    border: 2px solid black;
}