body {
    font-size: 14px;
	font-family: arial, sans-serif;
	color: #fff;
	background-color: #202124;
    margin: 0;
    padding: 0;
}
#container {
    margin: 0;
	padding: 0;
	width: 100%;
    height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}
nav{
    width: 100%;
    /* flex: 0.1; */
}
nav li a {
    color: white;
}
nav > ul {
    display: flex;
    justify-content: end;
    gap: 20px;
    padding: 10px 30px;
    list-style-type: none;
}
#main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}
header {
	width: 100%;
	text-align: center;
	font-size: 4em;
	font-weight: 200;
	margin:0 0 20px 0;
	padding: 0;
}
#search {
	border: 1px solid #5f6368;
	width: 600px;
	border-radius: 50px;
	display: flex;
	align-items: center;
	padding: 12px;
	padding-right: 30px;
}
input {
	border: 1px solid pink;
	flex: 1;
	background-color: #202124;
	color: white;
	border: none;
	height: 90%;
}
input:focus {
	outline: none;
}
#search img {
	width: 20px;
	height: 20px;
	margin-right: 10px;
}
.langs{
    text-decoration: none;
    color: lightblue;
    margin-right: 5px;
}
.langs:hover{
    text-decoration: underline;
}
#buttons{
    margin: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
button{
    border: none;
    background-color: #303134;
    color: white;
    padding: 12px;
    border-radius: 7px;
    font-size: 14px;
}
footer {
    background-color: #171717;
    color: #9aa0a6;
	width: 100%;
    /* flex: 0.1; */
}
footer ul {
	list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 30px;
}
footer li {
	display: inline-block;
}
footer div {
	border: none;
    padding: 15px 30px;
}
#upper-footer {
	border-bottom: 1px solid #3c4043;
}
#lower-footer {
	display: flex;
    justify-content: space-between;
}
#lower-footer li a{
    color: #9aa0a6;
    text-decoration: none;
}
#lower-footer li a:hover{
    text-decoration: underline;
}